
body {
    display: flex;
    flex-direction: column;
    background-color: #2c2c4c;
    color: white;
    margin: auto;
    padding: 0;
    min-width: 800px;
    
}

a {
    text-decoration: none;
    color: #f4d4fc;
}

ul {
    display: flex;
    gap: 24px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


h3 {
    font-size: 24px;
}

.header,
.footer{
    display: flex;
    justify-content: space-between;
    flex: 0;
    height: 50px;
    padding: 0 15%;
}

.footer {
    justify-content: center;
}

.hero,
.information,
.call-to-action,
.testimonial {
    display: flex;
    flex: 1;
    padding: 24px 15%;
}

.hero {
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.information,
.call-to-action {
    justify-content: center;
    background-color: white;
}



.header-links {
    display: flex;
    justify-content: space-between;
}


.main-title {
    min-width: 50%;
}

.main-title p,
.main-title h1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

h1 {
    font-size: 48px;
}


.title-img {
    display: flex;
    justify-content: flex-end;
}

.hero img {
    display: flex;
    max-width: 100%;
    border-radius: 8px;


}

.hero button{
    border-radius: 8px;
    border: none;
    padding: 8px 32px;
    background-color: #ac84fc;
    color: #2c2c4c;
    font-weight: bold;
}

.information {
    color: #2c2c4c;
    display: flex;
    flex-flow: row wrap;
    border: 0;
}

.information h2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
}
.card p {
    max-width: 134px;
    text-align: center;
}
.card img {
    border: solid;
    border-radius: 12px;
    border-color: #6454f4;
    width: 128px;
    height: 128px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4d4fc;
    color: #2c2c4c;
}

.quote {
    font-style: italic;
    font-size: 36px;
}

.call-to-action-box {
    display: flex;
    flex-direction: column;
    background-color: #6454f4;
    padding: 8px 24px;
    border-radius: 8px;
}

.footer {
    margin-top: auto;
}
